<div class="content">
<section class="kidsbasic-addition">
<h1>Addition</h1>
<p>This page is for addition, the base of mathematics and used in every day in our life, from buying something at grocery to adding the path of curvature of rocket in science exploration.</p>
<p>Let's test some addition</p>
<span>the below will test from 1 to 100</span>
<form id="mathQuiz">
    <!-- Math Equation Area -->
    <span class="mathQuiz-num" id="num1"></span>
    <span class="mathQuiz-operator">+</span>
    <span class="mathQuiz-num" id="num2"></span>
    <span class="mathQuiz-operator">=</span>
    
        <!-- Kids Input Field -->
    <input class="mathQuiz-userAnswer" type="number" id="userAnswer" placeholder="What is your guess?" required>
    

  <!-- Check answer button -->
  <button class="mathQuiz-button" type="button" onclick="checkAnswer()">Check Answer</button>

  <!-- Feedback area -->
  <output class="mathQuiz-feedback" id="feedback"></output>
</form>
</section>
</div>
<script src="/static/javascript/kids/kids_addition.js"></script>
