<div class="content">
<section class="kidsbasic">
<a class='letter_img' onclick="speakPhrase('A for Apple! Yum! Yum!!', event)" id="letter_A" href="javascript:void(0);"><img src="/img/kids/letter_A.jpg" alt=""/></a>
<a class='letter_img' onclick="speakPhrase('B for Ball! Bounce, bounce!', event)" id="letter_B" href="javascript:void(0);"><img src="/img/kids/letter_B.jpg" alt=""/></a>
<a class='letter_img' onclick="speakPhrase('C for Cat!  Meow! Meow!',event)" id="letter_C" href="javascript:void(0);"><img src="/img/kids/letter_C.jpg" alt=""/></a>
<a class='letter_img' onclick="speakPhrase('D for Dog! Woof woof!', event)" id="letter_D" href="javascript:void(0);"><img src="/img/kids/letter_D.jpg" alt=""/></a>
<a class='letter_img' onclick="speakPhrase('E for Elephant! So big!', event)" id="letter_E" href="javascript:void(0);"><img src="/img/kids/letter_E.jpg" alt=""/></a>
<a class='letter_img' onclick="speakPhrase('F for Fire truck! Wee woo wee woo wee woo woo!', event)" id="letter_F" href="javascript:void(0);"><img src="/img/kids/letter_F.jpg" alt=""/></a>
<a class='letter_img' onclick="speakPhrase('G for Giraffe! Look how tall and big neck!', event)" id="letter_G" href="javascript:void(0);"><img src="/img/kids/letter_G.jpg" alt=""/></a>
<a class='letter_img' onclick="speakPhrase('H for House! Cozy and warm.', event)" id="letter_H" href="javascript:void(0);"><img src="/img/kids/letter_H.jpg" alt=""/></a>
<a class='letter_img' onclick="speakPhrase('I for Ice cream! Delicious! and cold!', event)" id="letter_I" href="javascript:void(0);"><img src="/img/kids/letter_I.jpg" alt=""/></a>
<a class='letter_img' onclick="speakPhrase('J for Jug! Pour the water!', event)" id="letter_J" href="javascript:void(0);"><img src="/img/kids/letter_J.jpg" alt=""/></a>
<a class='letter_img' onclick="speakPhrase('K for Kite! Flying high up in the sky!', event)" id="letter_K" href="javascript:void(0);"><img src="/img/kids/letter_K.jpg" alt=""/></a>
<a class='letter_img' onclick="speakPhrase('L for Lamp!  Turn on the light!', event)" id="letter_L" href="javascript:void(0);"><img src="/img/kids/letter_L.jpg" alt=""/></a>
<a class='letter_img' onclick="speakPhrase('M for Moon!  Shining so bright in the night sky', event)" id="letter_M" href="javascript:void(0);"><img src="/img/kids/letter_M.jpg" alt=""/></a>
<a class='letter_img' onclick="speakPhrase('N for Nest! Tweet tweet! ', event)" id="letter_N" href="javascript:void(0);"><img src="/img/kids/letter_N.jpg" alt=""/></a>
<a class='letter_img' onclick="speakPhrase('O for Owl! Hoot hoot!', event)" id="letter_O" href="javascript:void(0);"><img src="/img/kids/letter_O.jpg" alt=""/></a>
<a class='letter_img' onclick="speakPhrase('P for Potato! Mash them up!', event)" id="letter_P" href="javascript:void(0);"><img src="/img/kids/letter_P.jpg" alt=""/></a>
<a class='letter_img' onclick="speakPhrase('Q for Quiver! Ready, aim, shoot!', event)" id="letter_Q" href="javascript:void(0);"><img src="/img/kids/letter_Q.jpg" alt=""/></a>
<a class='letter_img' onclick="speakPhrase('R for Rain! Pitter patter pitter patter!', event)" id="letter_R" href="javascript:void(0);"><img src="/img/kids/letter_R.jpg" alt=""/></a>
<a class='letter_img' onclick="speakPhrase('S for Squirrel! Chattering away!', event)" id="letter_S" href="javascript:void(0);"><img src="/img/kids/letter_S.jpg" alt=""/></a>
<a class='letter_img' onclick="speakPhrase('T for Tree! Tall and green!', event)" id="letter_T" href="javascript:void(0);"><img src="/img/kids/letter_T.jpg" alt=""/></a>
<a class='letter_img' onclick="speakPhrase('U for utensils! Time to cook!', event)" id="letter_U" href="javascript:void(0);"><img src="/img/kids/letter_U.jpg" alt=""/></a>
<a class='letter_img' onclick="speakPhrase('V for Van! Vroom vroom! ', event)" id="letter_V" href="javascript:void(0);"><img src="/img/kids/letter_V.jpg" alt=""/></a>
<a class='letter_img' onclick="speakPhrase('W for Water! Splash splash!', event)" id="letter_W" href="javascript:void(0);"><img src="/img/kids/letter_W.jpg" alt=""/></a>
<a class='letter_img' onclick="speakPhrase('X for Xylophone! Ding ding ding!', event)" id="letter_X" href="javascript:void(0);"><img src="/img/kids/letter_X.jpg" alt=""/></a>
<a class='letter_img' onclick="speakPhrase('Y for Yard! Let us run and play!', event)" id="letter_Y" href="javascript:void(0);"><img src="/img/kids/letter_Y.jpg" alt=""/></a>
<a class='letter_img' onclick="speakPhrase('Z for Zoo! See all the animals!', event)" id="letter_Z" href="javascript:void(0);"><img src="/img/kids/letter_Z.jpg" alt=""/></a>
</section>
</div>
<!-- <script src="/myweb/static/javascript/kids/kids_letter.js"></script> -->

<script src="/static/javascript/kids/kids_letter_localvoice.js"></script>
